*{
    margin: 0;
}
body{
    font-family: 'Handjet', cursive;
font-family: 'Roboto Slab', serif;
}
.bgimage{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    min-height: 400px;
    opacity: 0.6;
    margin-bottom: -5px;
}
.caption{
    position: absolute;
    top:250px;
    left: 20%;
    text-align: center;
    color: rgb(20, 56, 54);
    text-shadow: 5px 5px 10px rgba(157, 99, 23, 0.468);
}
.container{
    background-color: burlywood;
    margin-bottom: -30px;
}
.cake,.roll{
    display: inline-block;
    background-color: rgb(141, 125, 103);
    padding: 20px 20px;
    border-radius: 15px;
    height: 450px;
    width: 300px;
    margin-top: 90px;
    margin-bottom: 90px;
}
.cake{
    margin-left: 20%;
    margin-right: 100px;
}
.cake>img,.roll>img{
    border-radius: 5px;
    width: 300px;
    height: 300px;
}
.images_list{
    background-color: bisque;
}
.description{
    display: inline-block;
    background-color: rgb(107, 125, 126);
    height: 350px;
    width: 300px;
    margin: 30px;
    border-radius: 25px;
    box-shadow: 1px 1px 15px rgb(127, 76, 114);
}
.item_name{
    margin-top: 20px;
    text-align: center;
}
.images1{
    width: 300px;
    height: 250px;
    
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;    
}
footer{
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
